<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Recipes</title>
</head>

<body>
     
 <nav>
    <ul>
        <img src="/static/images/chef.png" alt="chef">
        <li class="title"><a href="{% url 'home page' %}">Recipes</a></li>
        <li><a href="{% url 'create recipe' %}">Add Recipe</a></li>
    </ul>
</nav>
    <div class="container">
        
        <h1>Recipe Details</h1>
                <div class="items-container">
                    <div class="item">
                        <h2>{{ obj_recipe.title }}</h2>
                        <img class="detail-img" src="{{ obj_recipe.image_url}}" alt="recipe-image">
                        <div class="time">
                            <img src="/static/images/clock.png">
                            <p>{{ obj_recipe.time }}min</p>
                        </div>
                        <h3>Ingredients</h3>
                        <ul>
                            {% for ingre in ingredients_list %}
                                <li>{{ ingre }}</li>
                            {% endfor %}
                        </ul>
                        <h3>How to prepare?</h3>
                        <div class="recipe-info-full">
                            {{ obj_recipe.description }}
                        </div>
                <div class="buttons-container">
                    <a class="button edit" href="{% url 'edit recipe' obj_recipe.id %}">Edit</a>
                    <a class="button delete" href="{% url 'delete recipe' obj_recipe.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body></html>