{% extends 'recipes/common/base.html' %}
{% block site_content %}
    <div class="container">
        <h1>Delete Recipe</h1>
            <div class="items-container">
                <div class="item">
                    <form method="POST" action="{% url 'delete recipe' recipe.id %}" enctype="multipart/form-data">
                        {{ form }}
                        {% csrf_token %}
                        <input type="submit" class="button delete" value="Delete">
                    </form>
                </div>
            </div>
    </div>
{% endblock %}